/*variables*/
/* Bucle*/
h1 {
  font-size: 40px; }

h2 {
  font-size: 20px; }

/* each */
.back-color-red {
  background-color: red; }

.back-color-blue {
  background-color: blue; }

.back-color-grey {
  background-color: grey; }

.back-color-yellow {
  background-color: yellow; }

.back-color-green {
  background-color: green; }

.back-color-skyblue {
  background-color: skyblue; }

/* mapa */
.red-Contacto {
  color: #ffe607; }

/* EXTEND*/
.boton-secundario {
  border: solid 2px black;
  background-color: #ffc107;
  color: #880000; }

.boton-primario {
  padding: 10px; }

header {
  grid-area: header; }

.nav-link {
  color: #880000 !important; }
  .nav-link:hover {
    color: black !important; }

.nav-back {
  background-color: #ffc107; }

header nav {
  border-bottom: black solid; }

main {
  grid-area: main; }

/* INICIO */
section .titulo-nesha {
  margin-top: 5px;
  margin-bottom: 10px; }

div .texto-inicio {
  text-align: justify; }

/*reservas*/
.reservas {
  margin-bottom: 93px; }

/* CARTA */
section .menu {
  margin-left: 10px; }
  section .menu button {
    color: #880000 !important; }

.carta {
  color: #880000;
  margin-top: 10px;
  width: 20%;
  text-align: center; }

.cards {
  width: 18rem; }
  .cards:hover {
    border: #880000 solid 2px;
    transform: translateY(5px); }

.card-body h5 {
  text-align: center; }

.boton, .boton-primario {
  background-color: #ffc107;
  color: #880000;
  border: black solid 1px; }
  .boton:hover, .boton-primario:hover {
    background-color: #880000;
    color: #ffc107; }

/*pagina de Contacto*/
.contact {
  color: blue; }

/* Pagina Nosotros */
.main-nosotros {
  margin-bottom: 110px; }
  .main-nosotros .texto-nosotros {
    text-align: center; }
    .main-nosotros .texto-nosotros p {
      text-align: justify; }
  .main-nosotros section div div div {
    display: flex;
    justify-content: center; }
  .main-nosotros section div div h2 {
    text-align: center; }

/*Pagina de Suscribirse*/
.texto-sub {
  text-align: justify !important; }

.animacion {
  display: inline-block;
  width: 110px;
  margin-top: 15px;
  background-color: green;
  animation-name: un_efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  animation-delay: 2s; }

@keyframes un_efecto {
  25% {
    transform: rotate(360deg); }
  50% {
    transform: translatex(100px);
    background-color: #ff7300;
    color: blanchedalmond; }
  65% {
    transform: translateX(-100px);
    color: blue; }
  75% {
    transform: rotate(-360deg); }
  100% {
    background-color: #ffee00; } }

footer {
  grid-area: footer; }

footer {
  background-color: #000f97;
  border: blue solid;
  margin-top: 60px; }

footer div .redes {
  align-self: center; }

/*======Aplicando Media Queries=======*/
@media screen and (max-width: 768px) {
  /* Index */
  section div .carousel-mod {
    height: 500px; }
  /* Reservas */
  .texto-reserva {
    width: 100% !important; }
  .reservas form {
    width: 95% !important; }
  fieldset .personas {
    width: 50% !important; }
  /*subscripcion*/
  .animacion {
    display: inline-block;
    width: 130px;
    color: black;
    background-color: #06f7ff;
    animation-name: un_efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-delay: 2s; }
  .animation {
    margin-top: 20px; }
  @keyframes un_efecto {
    25% {
      transform: rotate(100deg); }
    50% {
      transform: translatex(75px);
      background-color: #ff7300;
      color: blanchedalmond; }
    65% {
      transform: translateX(-75px);
      color: blue; }
    75% {
      transform: rotate(-100deg); }
    100% {
      background-color: #ffee00; } } }

@media screen and (max-width: 650px) {
  /*carta*/
  .carta {
    width: 30% !important;
    font-size: 22px; } }
