ul {
  border: 0cm solid red; }
  ul li {
    background-color: royalblue; }
    ul li a {
      font-size: 100px; }

a {
  background-color: royalblue; }

@media screen and (min-width: 700px) {
  a {
    background-color: saddlebrown; } }
