main {
    grid-area: main;

}

/* INICIO */
section {
    .titulo-nesha {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

div {
    .texto-inicio {
        text-align: justify;
    }
}
/*reservas*/
.reservas {
    margin-bottom: 80px;
}

/* CARTA */
.carta {
    color: rgb(173, 4, 4);
    margin-top: 10px;
    width: 20%;
    text-align: center;
}


.cards {
    width: 18rem;
&:hover {
    border: rgb(175, 0, 0) solid;
    transform: translateY(10px);}
}

.boton {
    background-color: rgb(226, 192, 0);
    color: rgb(173, 4, 4);
    border: black solid 1px;
    &:hover {  
    background-color: rgb(226, 43, 43);
    color: black;}
}

/*pagina de Contacto*/
.contact {
    color: blue;
}


/*Pagina de Suscribirse*/
.texto-sub {
    text-align: justify !important;
}
.animacion {
    display: inline-block;
    width: 130px;
    background-color: green;
    animation-name: un_efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-delay: 2s;
}
@keyframes un_efecto {
    25%{ transform: rotate(360deg);}
    50%{ transform: translatex(100px);
      background-color: rgb(255, 115, 0); 
      color: blanchedalmond;}
      65%{ transform: translateX(-100px);
    color: blue;}
    75%{ transform: rotate(-360deg);}
    100%{ background-color:rgb(255, 238, 0);}
 }