main {
    grid-area: main;

}

/* INICIO */
section {
    .titulo-nesha {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

div {
    .texto-inicio {
        text-align: justify;
    }
}
/*reservas*/
.reservas {
    margin-bottom: 93px;
}

/* CARTA */
section{
    .menu {
        margin-left: 10px; 
    button {
        color: $bordo !important;
    }
    }
}
.carta {
    color: $bordo;
    margin-top: 10px;
    width: 20%;
    text-align: center;
}


.cards {
    width: 18rem;
&:hover {
    border: $bordo solid 2px;
    transform: translateY(5px);}
}

.card-body {
    h5 {
        text-align: center;
    }
}
.boton {
    @include boton;
    }

/*pagina de Contacto*/
.contact {
    color: blue;
}

/* Pagina Nosotros */
.main-nosotros {
    margin-bottom: 110px;
    .texto-nosotros {
        text-align: center;
        p {
            text-align: justify;
        }
    }
    

    section {
        div {
            div {
                div {
                    display: flex;
                    justify-content: center;
                }
                h2 {
                    text-align: center;
                }
            }
        }
    }
}

/*Pagina de Suscribirse*/
.texto-sub {
    text-align: justify !important;
}
.animacion {
    display: inline-block;
    width: 110px;
    margin-top: 15px;
    background-color: green;
    animation-name: un_efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-delay: 2s;
}
@keyframes un_efecto {
    25%{ transform: rotate(360deg);}
    50%{ transform: translatex(100px);
      background-color: rgb(255, 115, 0); 
      color: blanchedalmond;}
      65%{ transform: translateX(-100px);
    color: blue;}
    75%{ transform: rotate(-360deg);}
    100%{ background-color:rgb(255, 238, 0);}
 }