
/*======Aplicando Media Queries=======*/
@media screen and (max-width: 768px) {
  /* Index */ 
  section {
    div {
      .carousel-mod {
        height: 500px;
      }
    }
  }

  /* Reservas */
  .texto-reserva {

      width: 100% !important;
}

  .reservas {
  form {
    width: 95% !important;
  }
}

fieldset {
  .personas{
    width: 50% !important;
  }
}


/*subscripcion*/
    .animacion {
        display: inline-block;
        width: 130px;
        color: black;
        background-color: rgb(6, 247, 255);
        animation-name: un_efecto;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 10s;
        animation-delay: 2s;

      
    }

    .animation {
        margin-top: 20px;
    }

    @keyframes un_efecto {
        25%{ transform: rotate(100deg);
        }
        50%{ transform: translatex(75px);
          background-color: rgb(255, 115, 0); 
          color: blanchedalmond;}
          65%{ transform: translateX(-75px);
        color: blue;}
        75%{ transform: rotate(-100deg);}
        100%{ 
          background-color:rgb(255, 238, 0);}
     }
}


@media screen and (max-width: 650px) {


  /*carta*/
  .carta {
    width: 30% !important;
    font-size: 22px;
 }
}