/*variables*/
$amarillo: #ffc107 ;
$bordo: #880000 ;
$black: black;





/* Bucle*/

@for $a from 1 to 3 {
    
    h#{$a} {
        font-size: 40px / $a; 
    }
}

/* each */

$lista-colores: red, blue, grey, yellow, green, skyblue;

@each $color in $lista-colores {
    .back-color-#{$color} {
        background-color: $color;
    }
}